.form-btn {
    background-color: var(--light-green);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-green);
    transition: all 0.5s ease;
}
.form-btn button {
    width: 236px;
    height: 54px;
}
.form-btn:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
