.header-container {
    position: relative;
    margin-bottom: 69px;
}
.img-gradient {
    /* position: relative; */
    display: flex;
    align-items: center;
    width: 100%;
    background: black;
}
.header-bg {
    position: relative;
    flex: 1;
    z-index: 1;
    height: 500px;
}
.header-img {
    flex: 1;
    max-width: 100%;
    height: auto;
}
.header-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #2f2e36);
    z-index: 1;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 545px;
    height: auto;
    margin-top: 96px;
    margin-right: 49%;
    margin-left: 10%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.header-title {
    max-width: 475px;
    font-family: "Source Serif 4";
    font-size: 44px;
    font-weight: 700;
    line-height: 1.1;
    margin: 8px 0;
}
.highlight {
    color: var(--orange);
}
.header-text {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 30px;
}

.header-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 47px;
    position: relative;
}
.review-img img {
    outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 50%;
    width: 47px;
    height: auto;
}
.review-1,
.review-2,
.review-3,
.review-4,
.review-5 {
    position: absolute;
    top: 0;
    width: 47px;
    height: auto;
}
.review-1 {
    left: 0;
    z-index: 1;
}
.review-2 {
    left: 40px;
    z-index: 2;
}
.review-3 {
    left: 80px;
    z-index: 3;
}
.review-4 {
    left: 120px;
    z-index: 4;
}
.review-5 {
    left: 160px;
    z-index: 5;
}
.review-stars {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stars {
    display: flex;
}
.star {
    margin: 0 1.2px;
    padding: 4px;
    background-color: var(--light-green);
}
.star img {
    display: block;
    width: 100%;
    height: auto;
}
.points {
    margin-left: 12px;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 400;
}
