.find-wrapper {
    position: relative;
    display: flex;
    margin: 150px 0 43px;
}
.find-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
    height: auto;
    background-color: black;
}
.find-gradient-bg {
    position: relative;
    flex: 1 1;
    z-index: 1;
}
.find-gradient {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #000000);
    z-index: 1;
}
.find-bg {
    flex: 1 1;
    max-width: 100%;
    height: auto;
}
.find-content {
    position: absolute;
    top: 103px;
    left: 20%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 521px;
    height: auto;
}
.find-content .title {
    margin-bottom: 10px;
    font-family: "Source Serif 4";
    font-size: 44px;
    font-weight: 800;
}
.find-content p {
    margin: 10px 0 24px 0;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.find-btn button {
    padding: 13px 37px;
    background-color: var(--orange);
    color: black;
    transition: all 0.5s ease;
}
.find-btn button:hover {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.6);
}
